/* Custom green action button*/
.customButton {
    -moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
    -webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
    box-shadow:inset 0px 1px 3px 0px #91b8b3;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #18BC9C), color-stop(1, #18BC9C));
    background:-moz-linear-gradient(top, #18BC9C 5%, #18BC9C 100%);
    background:-webkit-linear-gradient(top, #18BC9C 5%, #18BC9C 100%);
    background:-o-linear-gradient(top, #18BC9C 5%, #18BC9C 100%);
    background:-ms-linear-gradient(top, #18BC9C 5%, #18BC9C 100%);
    background:linear-gradient(to bottom, #18BC9C 5%, #18BC9C 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
    background-color:#18BC9C;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:1px solid #18BC9C;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:11px 23px;
    text-decoration:none;
    text-shadow:0px -1px 0px #18BC9C;
    margin-bottom: 5%;
    margin-top: 1%;
}
.customButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #18BC9C), color-stop(1, #18BC9C));
    background:-moz-linear-gradient(top, #18BC9C 5%, #18BC9C 100%);
    background:-webkit-linear-gradient(top, #18BC9C 5%, #18BC9C 100%);
    background:-o-linear-gradient(top, #18BC9C 5%, #18BC9C 100%);
    background:-ms-linear-gradient(top, #18BC9C 5%, #18BC9C 100%);
    background:linear-gradient(to bottom, #18BC9C 5%, #18BC9C 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
    background-color:#18BC9C;
}
.customButton:active {
    position:relative;
    top:1px;
}



